<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	

	<!-- 调度程序,在triggers属性中可定义多个触发器  -->
	<bean id="scheduler"
		class="org.springframework.scheduling.quartz.SchedulerFactoryBean" lazy-init="false" autowire="no">
		<property name="triggers">
			<list>
				
			</list>
		</property>
		
		<!-- 修改原生quartz的属性  org.quartz.quartz.properties文件中的属性-->
		<property name="quartzProperties">
			<props>
				<prop key="org.quartz.threadPool.threadCount">6</prop>
				<prop key="org.quartz.plugin.shutdownhook.class">org.quartz.plugins.management.ShutdownHookPlugin</prop>  
				<prop key="org.quartz.plugin.shutdownhook.cleanShutdown">true</prop>
				<prop key="org.quartz.threadPool.threadsInheritContextClassLoaderOfInitializingThread">true</prop>  
			</props>
		</property>
		<!-- 启动延缓 -->
		<property name="startupDelay" value="10"></property>
	</bean>
	
	<bean id="quartzInit" class="com.xkw.mc.component.quartz.QuartzInit">
		<property name="init" value="true"></property>
		<property name="lazyTime" value="18"></property>
		<property name="jobService" ref="schdulerJobService"></property>
	</bean>
	
</beans>
