<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:mongo="http://www.springframework.org/schema/data/mongo"
    xsi:schemaLocation="
        http://www.springframework.org/schema/data/mongo 
        http://www.springframework.org/schema/data/mongo/spring-mongo-1.4.xsd
        http://www.springframework.org/schema/beans     
        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.0.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">		
	
	<!-- 指明数据库相关配置的properties文件 -->
	<context:property-placeholder location="classpath:db.properties"/>
	
	<context:component-scan base-package="com.xkw">
		<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
	</context:component-scan>
	
	<bean id="dataSource" class="com.jolbox.bonecp.BoneCPDataSource" destroy-method="close">
	   <property name="driverClass" value="com.mysql.jdbc.Driver" />
        <property name="jdbcUrl" value="${jdbc.url.mc}"/>
        <property name="username" value="${jdbc.mc.username}"/>
        <property name="password" value="${jdbc.mc.password}"/>
        
	    <property name="idleConnectionTestPeriod" value="60"/>
	    <property name="idleMaxAge" value="240"/>
	    <property name="maxConnectionsPerPartition" value="50"/>
	    <property name="minConnectionsPerPartition" value="1"/>
	    <property name="partitionCount" value="1"/>
	    <property name="acquireIncrement" value="1"/>
	    <property name="statementsCacheSize" value="100"/>
	    <property name="releaseHelperThreads" value="3"/>
	</bean>
    
    <bean id="sessionFactory"
          class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
       	<property name="packagesToScan" value="com.xkw.mc.entity" />
        <property name="hibernateProperties">
            <props>
                <prop key="connection.pool_size">10</prop>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</prop>
                <prop key="hibernate.show_sql">true</prop>
                <prop key="hibernate.connection.autocommit">false</prop>
                <prop key="hibernate.format_sql">true</prop>
                <prop key="hibernate.generate_statistics">false</prop>
                <prop key="hibernate.bytecode.use_reflection_optimizer">false</prop>
                <prop key="hibernate.hbm2ddl.auto">update</prop>
                <prop key="hibernate.order_updates">true</prop>
			    <prop key="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.EhCacheRegionFactory</prop> 
				<prop key="hibernate.cache.use_second_level_cache">true</prop>
				<prop key="hibernate.cache.use_query_cache">true</prop>                
            </props>
        </property>
    </bean>
   
   <!-- 事务管理器配置,多数据源事务-->
   <bean id="transactionManager"
          class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    
    <tx:annotation-driven transaction-manager="transactionManager"/>
    
    <!-- 项目启动创建默认的管理员账号 -->
    <bean id="defaultUserInit" lazy-init="false" class="com.xkw.mc.component.DefaultUserInit">  
        <property name="open" value="true"/>  
        <property name="lazyTime" value="5"/> 
    </bean> 
    
</beans>
